/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
  
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 2px solid black;
}

.carousel {
    height: 60vh;
    width: 60vw;
    position: relative;
    display: flex;
}

.object {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.button-carousel {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 415px;
    left: 50%;
    top: 10px;
    transform: translatex(-50%);
}

.button-carousel button {
    font-size: 40px; 
    width: 50px; 
}

.object.active {
    display: inline-block;
}

#previous {
    border-radius: 50%;
    opacity: 0.3;
}

#next {
    border-radius: 50%;
    opacity: 0.3;
}

#previous:hover {
    cursor: pointer;
    background-color: yellow;
    opacity: 1;
}

#next:hover {
    cursor: pointer;
    background-color: yellow;
    opacity: 1;
}




